<h3>Voice recorder</h3>
<div class="panel panel-default">
  <div class="row">
    <div class="col-lg-6 my-1">
      <button class="btn btn-danger" id="recordButton">
        <i class="fa fa-record">
        </i>&nbsp;Record
      </button>
      <button class="btn btn-default" disabled="disabled" id="stopButton">
        <i class="fa fa-stop">
        </i>&nbsp;Stop
      </button>
      <div id="recordingsList">
      </div>
    </div>
  </div>
</div>
