doctype html
html
  head
    meta content='width=device-width, initial-scale=1.0' name='viewport'
    title = content_for?(:title) ? yield(:title) : 'Voice Recorder'
    meta name='description' content="#{content_for?(:description) ? yield(:description) : 'Voice Recorder'}"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    #wrapper
      = render 'layouts/navigation'
      #page-wrapper.py-1
        .row
          = render 'layouts/messages'
        .row
          .col-lg-12
            h1.page-header = content_for?(:title) ? yield(:title) : @page_title.presence || 'Voice Recorder'

        = yield

